body {
    background-image: url(https://tvcdn.fancaps.net/472752.jpg);
background-repeat: no-repeat;
background-size: cover;
}

#logo{
    position: relative;
    text-align: center;
    top: 25px;
    width: 490px;
    height: 250px; 
}

.Robin {
    width: 110px;
    height: 110px;
}
.Starfire {
    width: 110px;
    height: 110px;
}
.Cyborg{
    width: 110px;
    height: 110px;
}
.Raven{
    width: 110px;
    height:110px;
}
.Beast{
    width: 110px;
    height:110px;
}
.Terra{
    width: 110px;
    height: 110px;
}
.Slade{
    width: 110px;
    height: 110px;
}
.Blackfire{
    width: 110px;
    height: 110px;
}

.Trigon {
    width: 110px;
    height: 110px;
}
.Brotherhood of Evil{
    width: 110px;
    height: 110px;
}

